<h1>Stores</h1>
<div class="row">
	<div class="col-md-6">
		<table class="table table-condensed table-hover">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Avatar</th>
				<th>Beacons</th>
			</tr>
			<% @stores.each do |store| %>
			<tr>
				<td><%= link_to store.id, [:edit, store] %></td>
				<td><%= store.name %></td>
				<td><%= image_tag store.avatar.url(:thumb) unless store.avatar.nil? %></td>
				<td><%= store.beacons.count %>
			<% end %>
			</tr>
		</table>
	</div>
</div>
<%= link_to 'Agregar nueva tienda', :new_store %>