<ol class="breadcrumb">
	<li>Stores</li>
</ol>

<div class="row">
	<div class="col-md-8">
		<table class="table table-condensed table-hover">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Logo</th>
				<th># beacons</th>
				<th># ads</th>
				<th>Fecha registro</th>
				<th>&nbsp;</th>
			</tr>
		<% @stores.each do |store| %>
			<tr>
				<td><%= store.id %></td>
				<td><%= store.name %></td>
				<td><%= link_to image_tag(store.image.url(:thumb), :size => '64x64'), store.image.url %></td>
				<td><%= store.beacons.count %></td>
				<td><%= store.ads.count %></td>
				<td><%= store.created_at.localtime.strftime('%R %d/%m/%Y') %></td>
				<td><%= link_to 'ver', workspace_store_path(Base64.urlsafe_encode64 store.id.to_s) %></td>
			</tr>
		<% end %>
		</table>
	</div>
</div>